.navbar {
  background-color: color(main-darck);
  border-radius:    0;
  color:            white;
  margin-bottom:    0;
  padding:          6px 0;

  .main-menu {
	width: 100%;
	li.dropdown {
	  $w: 100%;
	  width: $w / 6;
	  &:not(:last-child){
		border-right: 1px solid color(main-darck-hover);
		}
	  
	  a.dropdown-toggle {
		color:    white;
		height:   100px;
		position: relative;


		p {
		  bottom:   0;
		  position: absolute;
		  width:    calc(100% - 30px);

		  }
		}
	  &:hover {
		p {
		  color: color(text-hover);
		  }
		.icon-menu-iphone {
		  //@include bg($iphone-hover);
		  @include bg-svg($iphoneh);
		  }
		.icon-menu-ipad {
		  //@include bg($ipad-hover);
		  @include bg-svg($ipadh);
		  }
		.icon-menu-macbook {
		  //@include bg($macboock-hover);
		  @include bg-svg($macboockh);
		  }
		.icon-menu-watch {
		  //@include bg($watch-hover);
		  @include bg-svg($watchh);
		  }
		.icon-menu-desktop {
		  //@include bg($desktop-hover);
		  @include bg-svg($desktoph);
		  }
		.icon-menu-keyboard {
		  @include bg-svg($keyboardh);
		  }
		}
	  &.dropdown.open {
		a.dropdown-toggle {
		  background-color: color(main-darck-hover);
		  }
		}
	  }
	}
  }

.icon-menu-iphone {
  //@include bg($iphone);
  @include bg-svg($iphone);
  }

.icon-menu-ipad {
  //@include bg($ipad);
  @include bg-svg($ipad);
  }

.icon-menu-macbook {
  //@include bg($macboock);
  @include bg-svg($macboock);
  }

.icon-menu-watch {
  //@include bg($watch);
  @include bg-svg($watch);
  }

.icon-menu-desktop {
  //@include bg($desktop);
  @include bg-svg($desktop);
  }

.icon-menu-keyboard {
  //@include bg($keyboard);
  @include bg-svg($keyboard);
  }

.dropdown-menu {
  background-color: color(main-darck);
  border-radius: 0;
  .dropdown-menu-item {
	a {
	  color: white;
	  &:hover {
		background-color: color(main-darck-hover);
		color:            color(text-hover);
		}
	  }
	}
  }
