<section id="map" class="block-map container-fluid">
	<div class="row">
		<div id="gmap"></div>
		<div class="col-md-5 address-wrap">
			<address class="address pull-right">
				<h2>Как нас найти:</h2>
				<p class="icon-marck">Мир 3/1, дом 8, блок «Б»</p>
				<p class="icon-mail">info@something.com</p>
				<ul class="icon-mobile-white list-unstyled">
					<li class="phone-list-item"><b>+12 (035)</b> 458061</li>
					<li class="phone-list-item"><b>+12 (035)</b> 458062</li>
					<li class="phone-list-item"><b>+12 (035)</b> 455973</li>
				</ul>
				<ul class="icon-clock list-unstyled">
					<li><b>пн-пт:</b> 10:00 до 20:00</li>
					<li><b>сб-вс:</b> 11:00 до 18:00</li>
				</ul>
			</address>
		</div>
	</div><!-- /row-->
</section>
