.block-goods {

  @include max-screen(breakpoints(lg)) {
	margin-bottom: 20px;
	}
  
  $padding: 19%;

  article {
	@include min-screen(breakpoints(md)) {
	  &:nth-child(odd) {
		.goods-description {
		  padding-left:  $padding;
		  padding-right: 10%;
		  }
		}
	  &:nth-child(even) {
		.goods-description {
		  padding-left:  10%;
		  padding-right: $padding;
		  }
		}
	  }
	}
  }

.goods-description {
  padding-top: 4.5%;
  .price {
	font-size: 0.9em;
	span {
	  font-size:   1.6em;
	  font-weight: 600;
	  }
	}

  }