<div class="popover-markup">
	<a href="#" id="btn-basket" class="btn btn-basket trigger"><span class="btn-img"></span><span class="badge hidden">2</span></a>
	<p class="head hide top-heder-user">Товары в корзине</p>
	<div class="content hide">
		<div class="product-box">
			<div class="product-item">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 text-center">
						<a class="product-item-img" href="#">
							<img src="static/img/assets/header/korzina-image.png" class="img-responsive">
						</a>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 product-item-text">
						<a class="product-item-title" href="#">Название</a>
						<p class="product-item-price">81 900 руб</p>
						<a class="product-item-close" href="#"></a>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 text-center">
						<a class="product-item-img" href="#">
							<img src="static/img/assets/header/korzina-image.png">
						</a>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 product-item-text">
						<a class="product-item-title" href="#">Название</a>
						<p class="product-item-price">81 900 руб</p>
						<a class="product-item-close" href="#"></a>
					</div>
				</div>
			</div>
			<div class="product-price-more">
				<p class="product-price-more-title">Общая сумма:</p>
				<p class="product-item-price-t">160 900 руб</p>
			</div>
			<a class="a-product-box" href="#">Оформить заказ</a>
		</div>
	</div>
</div>