// Common styles of the project
html, body {
    height: 100%;
}
body {
    //min-width:480px; /* suppose you want minimun width of 480px */
    //width: auto !important;  /* Firefox will set width as auto */
    //width:480px;             /* As IE ignores !important it will set width as 480px; */
    }
//or
//body{
//    min-width:480px; // suppose you want minimun width of 480px
//    _width: expression( document.body.clientWidth > 480 ? "480px" : "auto" ); /* sets max-width for IE */
//    }

.page {

}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.bt {
    border-radius: 4px;
    border: 1px solid #70A7FF;
    }
.flex-box {
    display: flex;
    }
