<section id="my-test">

	<!--<div class="main">-->
	<!--<div class="bl fl-1">Блок-1</div>-->
	<!--<div class="bl fl-2">Блок-2</div>-->
	<!--<div class="bl fl-3">Блок-3</div>-->
	<!--<div class="bl fl-4">Блок-4</div>-->
	<!--<div class="bl fl-5">Блок-5</div>-->
	<!--<div class="bl fl-6">Блок-6</div>-->
	<!--</div>-->

	<div class="container-fluid">
		<div class="col-sm-6 col-md-4 bt">Блок-1</div>
		<div class="col-sm-6 col-md-4 bt">Блок-2</div>
		<div class="col-sm-6 col-md-4 bt">Блок-3</div>


	</div> <!-- end container -->
</section>
