<!--<div class="popover-markup">-->
<!--<a href="#" id="test-btn-search" class="btn trigger"><span class="icon-search"></span></a>-->
<!--<div class="head hide top-heder-user">-->
<!--<a class="us-exit" href="#">Поиск товара</a>-->
<!--</div>-->
<!--<div class="content hide">-->
<!--<div class="top-heder-form">-->
<!--<form class="popup-form">-->
<!--<div class="input-group">-->
<!--<input type="text" class="form-control" placeholder="Введите слово" aria-describedby="basic-addon2">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-default">Поиск</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<section id="my-test">
	<div class="wrap-popover">
		<a id="popoverTest" href="#" class="btn btn-info" role="tooltip" data-toggle="popover">TEST POPOVER</a>
			<div class="head hide">
				<p>Заголовок POPOVER</p>
			</div>
			<div class="content hide">
				<p>Контент POPOVER</p>
			</div>
	</div>
</section>
