.section-header {
  border-bottom: 1px solid color(hr);
  h2 {
	display: inline-block;
	color:      color(text-darck);
	height:     36px;
	margin: 0;
	padding-top: 60px;
	padding-bottom: 45px;
	border-bottom: 3px solid color(main-darck);
	}
  }
