
.webui-popover-content-login {
	overflow: hidden;
	.wrap-form {
		margin:  0;
		padding: 0;
		}
	#login-form,
	#register-form {
		.form-group {
			margin: 0 15px 15px;
			}
		input[type="submit"] {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			}
		}
	.nav-tabs {
		> li {
			width: 50%;
			text-align: center;
			background-color: #d9edf7;
			a {
				font-weight: 600;
				}
			&:first-child.active {
				a {
					border-top-color: white;
					border-left-color: white;
					border-top-right-radius: 0;
					}
				}
			&:last-child.active {
				a {
					border-top-color: white;
					border-top-left-radius: 0;
					margin-right: -1px;
					margin-left: -3px;
					}
				}
			}
		}
	.tab-content {
		margin-top: $spacer;
		}
	.btn-login {
		background-color: color(main);
		border-color:     color(main);
		color:            color(text);
		font-weight:      normal;
		height:           auto;
		outline:          none;
		//padding:          14px 0;
		text-transform:   uppercase;
		}

	.btn-login:hover,
	.btn-login:focus {
		background-color: color(main-darck-hover);
		border-color:     color(main-darck-hover);
		}

	.forgot-password {
		color:           #888888;
		text-decoration: underline;
		}

	.forgot-password:hover,
	.forgot-password:focus {
		color:           #666666;
		text-decoration: underline;
		}

	.btn-register {
		background-color: color(main);
		border-color:     color(main);
		color:            color(text);
		font-weight:      normal;
		height:           auto;
		outline:          none;
		//padding:          14px 0;
		text-transform:   uppercase;
		}

	.btn-register:hover,
	.btn-register:focus {
		background-color: color(main-darck-hover);
		border-color:     color(main-darck-hover);
		}
	}
