<div class="panel panel-info webui-popover-content webui-popover-content-basket">
	<div class="panel-heading">
		<h3 class="panel-title">{{popoverBasket.basketTitle}}</h3>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				{{#repeat 3}}
				<div id="basket-item-{{@index}}" class="item-basket col-xs-12">
					<div class="row">
						<div class="col-xs-5">
							<div class="basket-item-img-wrap">
								<img class="basket-item-img" src="%=static=%img/assets/popoverBasket/{{popoverBasket.item.img}}" alt="{{popoverBasket.item.title}}">
							</div>
						</div>
						<div class="col-xs-7">
							<p class="basket-item-title">{{popoverBasket.item.title}}</p>
							<!--<p class="basket-item-price"><span>{{popoverBasket.item.price}} <i class="icon-uah"></i></span></p>-->
							<p class="basket-item-price"><span>{{popoverBasket.item.price}} руб</span></p>
						</div>
					</div>
					<span class="btn-close">&times;</span>
				</div>
				{{/repeat}}
				<button type="button" class="btn btn-default">{{popoverBasket.basketBtn}}</button>
			</div>
		</div>
	</div>
</div>
