.advantages {
  background-color: color(bg);

  .icon-advantages {
	@include scut-center-transform;
	top: 35%;
	}
  .icon-loupe {
	@include bg-svg($loupe-large);
	}
  .icon-medal {
	@include bg-svg($medal-large);

	}
  .icon-airplan {
	@include bg-svg($airplan-large);
	}
  .icon-spanner {
	@include bg-svg($spanner-large);
	}
  }

.advantages-item {
  height:   scut-em(250);
  position: relative;
  @include max-screen(breakpoints(phone)) {
	width: 100%;
	}

  .advantages-title {
	bottom:    $spacer;
	color:     color(text-darck);
	font-size: 22px;
	position:  absolute;
	width:     calc(100% - 30px);
	}
  }