<header class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-2 logo-block">
				<img src="%=static=%img/assets/header/logo.png" class="center-block" alt="Image">
			</div>
			<div class="col-md-2 phone-block">
				<ul class="list-unstyled header-phones">
					<li class="text-right"><b>+12 (035)</b> 458 06 11</li>
					<li class="text-right"><b>+12 (035)</b> 458 06 21</li>
				</ul>
			</div>
			<div class="col-md-4 search-block">
				<form action="/" method="get" class="navbar-form hidden-sm hidden-md" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Найти">
						<span class="input-group-btn">
        					<button class="btn btn-info" type="button"><span class="fa fa-search"></span></button>
      					</span>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-info">Скачать прайс-лист</button>
			</div>
			<div class="col-md-2">
				<div class="btn-group-large">

				</div>

			</div>
		</div>
	</div>
</header>