.page-header {
  background-color: color(bg);
  margin:           0;
  padding:          0;
  .btn-group {
	width: 100%;
	button {
	  background-color: color(main);
	  @include scut-size(70px);
	  text-align: center;

	  span {
		display: inline-block;

		}
	  .icon-search{

		@include bg($icon-search);
		}
	  .icon-basket{

		@include bg($icon-basket);
		}
	  .icon-login {

		@include bg($icon-login);
		}
	    &.btn-login {
		  float: right;
		  }
	  }

	}
  }

.row {
  display: flex;
  > div {
	align-self: center;
	}
  }

.header-phones {
  color:  color(main);
  margin: 0;
  li:first-child {
	position: relative;
	&:before {
	  @include pseudo();
	  //@include scut-size(11px 18px);
	  @include bg($icon-modile);
	  }
	}
  }

.search-block {
  padding-right: 0;
  .input-group {
	width: 100%;
	}
  .input-group-btn {
	.btn {
	  padding-bottom: 7px;
	  }
	}
  }
#header {
  .btn-group {
	.btn {
	  border-radius: 5px;
	  }
	}
  }