#slider {
  background-image:    url(%=static=%assets/slider/bg.png);
  background-position: center;
  position: relative;
  .carousel {
	position: static;
	}
  .item {
	@include scut-size(1106px 582px);
	background-image: url(%=static=%assets/slider/slide-1.png);
	}
  }