<section id="slider" class="block-slider">
	<div class="container">
		<!-- Карусель -->
		<div id="main-slider" class="carousel slide" data-interval="3000" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<li data-target="#main-slider" data-slide-to="1"></li>
				<li data-target="#main-slider" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="active item"></div>
				<div class="item"></div>
				<div class="item"></div>
			</div>
			<a class="carousel-control left" href="#main-slider" data-slide="prev">
				<span class="fa fa-arrow-left"></span>
			</a>
			<a class="carousel-control right" href="#main-slider" data-slide="next">
				<span class="fa fa-arrow-right"></span>
			</a>
		</div>
	</div>
</section>