<aside id="questions" class="block-questions">
	<div class="container">
		<div class="row">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-0">
							<h4 class="panel-title text-uppercase"><span>{{questions.nav.title}}</span></h4>
						</a>
					</div>
					<div id="collapse-0" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-unstyled">
								{{#each questions.nav.links}}
								<li><a href="/"><span class="glyphicon glyphicon-arrow-right"></span>{{this}}</a></li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
							<h4 class="panel-title text-uppercase"><span>{{questions.nav.title}}</span></h4>
						</a>
					</div>
					<div id="collapse-1" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-unstyled">
								{{#each questions.nav.links}}
								<li><a href="/"><span class="glyphicon glyphicon-arrow-right"></span>{{this}}</a></li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">
							<h4 class="panel-title text-uppercase"><span>{{questions.contacts.title}}</span></h4>
						</a>
					</div>
					<div id="collapse-2" class="panel-collapse collapse">
						<div class="panel-body">
							<p class="icon-marck-blue">{{questions.contacts.address}}</p>
							<p class="icon-mail-blue">{{questions.contacts.mail}}</p>
							<ul class="icon-mobile-blue list-unstyled">
								<li class="phone-number"><b>+12 (035)</b> 458061</li>
								<li class="phone-number"><b>+12 (035)</b> 458062</li>
								<li class="phone-number"><b>+12 (035)</b> 455973</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">
							<h4 class="panel-title text-uppercase"><span>{{questions.phoneCall.title}}</span></h4>
						</a>
					</div>
					<div id="collapse-3" class="panel-collapse collapse">
						<div class="panel-body">
							<p>{{questions.phoneCall.text}}</p>
							<a href="/" class="btn btn-info phone-call">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /row-->
	</div> <!-- /container-->
</aside>



